@CHARSET "EUC-KR";
html, 
body, 
div, 
span, 
applet, 
object, 
iframe, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p, 
blockquote, 
pre, 
a, 
abbr, 
acronym, 
address, 
big, 
cite, 
code, 
del, 
dfn, 
em, 
font, 
img, 
ins, 
kbd, 
q, 
s, 
samp, 
small, 
strike, 
strong, 
sub, 
sup, 
tt, 
var, 
b, 
u, 
i, 
center, 
dl, 
dt, 
dd, 
li, 
fieldset, 
form, 
label, 
legend{
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		vertical-align: baseline;
		background:no-scroll transparent;
	}
	ul{
		list-style:none;
	}
		
	a img {
		border: none;
	}
	
	a:link{
		color:#777777;
		text-decoration: none;
	}
	
	a:visited{
		color:#777777;
		text-decoration: none;
	}
	
	a:hover, a:active, a:focus{
		color:#111111;
		text-decoration: bold;
	}
	
#header > a:link {
	color:#dddddd;
	text-decoration: none;
	}
	
#header > a:visited {
		color:#dddddd;
		text-decoration: none;
	}

#header > a:hover, a:active, a:focus { 
		color:#ffffff;
		text-decoration: none;
	}
	<!--
#sidebar > ul > li > a.active {
		text-size:#;
	}
	-->
#sidebar > ul > li{
		text-indent:10px;
	}
	
	.board-1 {
		width: 100%;
	}
    
	.board-2 {
		width: 100%;
	}
	
	.board-3 {
		width: 100%;
	}

	.board-4 {
		width: 100%;
	}
	
	.box{
		padding: 5px;
		position: relative;
		box-sizing: border-box;
		border: 1px solid #c7c7c7;
		background-color: #FFF;
	}
	
	.box-top{
		text-align: center;
		padding: 10px;
	}
	
	.communityBox-1 > .box-content{
		box-sizing: border-box;
		border: 1px solid #c7c7c7;
		margin:20px;
		position:relative;
		float:left;
	}
	
	.columns{
		margin: 0 2%;
		padding-top: 2vw!important;
		padding-bottom: 10vw!important;
	}
	
	.community-columns{
		margin: 0 2%;
		padding-top: 20px;
		padding-bottom: 30px;
		position: relative;
		float:left;
	}
	
	.board-column{
		width: 30%;
		margin: 1%;
		float: left;
	}
	
	.community-column{
		width: 287px;
		margin: 10px;
		position:relative;
		float: left;
	}
	
	.wrapper{
		width: 100%;
		float: left;	
	}
	
	.context{
		padding-top: 20px;
		padding-bottom: 40px;
	}
	
	.menuwrapper{
		padding: 0;
		margin: 0;
		width: 100%;
		float: left;
	}
	
	.menulogo{
		width:200px; 
		vertical-align:center; 
		padding:15px 10px;
		margin: 0; 
		float:left; 
		position:relative; 
		z-index:2;
	}
	
	.footlogo{
		width:150px; 
		vertical-align:center; 
		padding:23px 25px;
		margin: 0; 
		float:left; 
		position:relative; 
		z-index:2;
	}
	.topbar{
		padding:5px; 
		margin:0;
		background:#333333;
		text-align:right;
		color:#ffffff;
		font-size: 11pt;
		font-familly:Arial;
	}

	.introbox{
		box-sizing: border-box; 
		border: 1px solid #c7c7c7; 
		width:280px; 
		height:280px; 
		margin:20px; 
		padding:0;
		float:left;
	}
	
	.introboxContainer{
		width:642px;
		height:642px;
		padding:0;
		margin:5% auto;
	}
	 
	#adsideWrapper { 
	  position: absolute;
	}
	#adside {
	  position: absolute;
	  top: 0;
	}
	#adside.fixed {
	  position: fixed;
	  top: 0;
	  margin-top:30px;
	}
	
	.contentsBox{
		padding:20px;
		margin-bottom:100px;
		font-size:12px;
		font-family:Arial;
	}
	
	.contentsTitle{
		padding:10px;
	}
	
	.contentsLink{
		margin:3px;
		text-align:right;
	}
	
	.contentsTotal{
		width: 700px;
		padding:10px;
		position:relative;
		float:left;
		left: 200px;
	}
	
	.footerTotal{
		float: left;
		position:relative;
		width: 100%;
		height: 75px;
		background:#666666;
		color:#ffffff;
		font-size: 8pt;
	}
	
	.footerBox{
		position:relative;
		z-index:1;
		padding: 15px;
	}
	
	.sidebarTotal{
		padding-top:50px;
		padding-bottom:80px;
		position:absolute;
	}
	
	.sidebarTitle{
		border-bottom: 2px solid #306A9C;
		text-align:center;
	}
	
	.sidebarBox{
		width:130px;
		margin: auto;
		padding-top:50px;
	}
	
	.sidebarBody{
		width:200px;
		position: relative;
		float:left;
	}
	
	.intro {
		margin-bottom:30px;
	}
	
	.searchBarFrame{
		position:relative;
		margin:0px;
	}
	
	.searchBar{
		position:relative;
		float:left;
	}

	.searchBar > .bind{
		height:36px;
	}
	
	.searchBar > select{
		font-size: 12px;
		width:80px;
	}
	
	.searchBar > input{
		margin:0px;
	}
	
	.search-page-box {
		width:367px;
		margin:0 auto;
		border:hidden;
	}
	
	
	